.reviewBox {
    display: block;
    margin: 100px;
    float: left;
}

.textReview {
    text-align: left;
    position: relative;
    background-color: wheat;
    float: left;
    list-style-type: square;
}